<template>
  <div class="status-picker">
    <div
      class="badge"
      @click="toggleMenu"
      :style="{ 'background-color': selectedValue.color }"
    >
      {{ selectedValue.name }}
    </div>
    <div
      class="dropdown-menu"
      :class="{ visible: menuOpen }"
      @keyup="keyListener"
      :style="positionCorrection"
    >
      <div
        v-for="(value, i) in values"
        :key="i"
        class="menu-item"
        :class="{ selected: menuSelection === i }"
        @click="selectItem(i)"
      >
        <div :style="{ background: value.color }" class="item-color" />
        <span class="value-name"> {{ value.name }} </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    values: { type: Array, default: () => [] },
    selectedValue: { type: Object, default: () => {} }
  },
  data() {
    return {
      menuSelection: 0,
      menuOpen: false,
      positionCorrection: {
        bottom: null,
        right: null
      }
    };
  },
  mounted() {
    for (var i = 0; i < this.values.length - 1; i += 1) {
      if (this.values[i].name === this.selectedValue.name) {
        this.menuSelection = i;
        return;
      }
    }
  },
  methods: {
    toggleMenu() {
      this.menuOpen = !this.menuOpen;
      if (this.menuOpen) {
        this.positionMenu();
        window.addEventListener('keyup', this.keyListener);
        window.addEventListener('click', this.clickListener);
      } else {
        window.removeEventListener('keyup', this.keyListener);
        window.addEventListener('click', this.clickListener);
      }
    },
    selectItem(idx) {
      this.menuOpen = false;
      this.menuSelection = idx;
      this.$store.dispatch('setSelectedStatus', this.values[idx]);
    },
    keyListener(event) {
      if (this.menuOpen) {
        if (
          event.key === 'ArrowDown' &&
          this.menuSelection < this.values.length - 1
        ) {
          this.menuSelection += 1;
        } else if (event.key === 'ArrowUp' && this.menuSelection > 0) {
          this.menuSelection -= 1;
        } else if (event.key === 'Enter') {
          this.menuOpen = false;
          this.$store.dispatch(
            'setSelectedStatus',
            this.values[this.menuSelection]
          );
        }
      }
    },
    clickListener(event) {
      if (
        this.menuOpen &&
        event.toElement.className !== 'menu-item' &&
        event.toElement.className !== 'badge'
      ) {
        this.toggleMenu();
      }
    },
    positionMenu() {
      const availableWidth = window.visualViewport.width;
      const availableHeight = window.visualViewport.height;
      let menu = this.$el
        .getElementsByClassName('dropdown-menu')[0]
        .getBoundingClientRect();
      if (menu.x + 160 > availableWidth) {
        this.positionCorrection.right = '0px';
      }
      if (menu.y + menu.height > availableHeight) {
        this.positionCorrection.bottom = '20px';
      }
    }
  }
};
</script>

<style scoped lang="less">
.status-picker {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;

  .badge {
    padding: 2px 8px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    background: #ffffff;
    box-shadow: 0px 8px 32px rgba(31, 34, 38, 0.12),
      0px 2px 6px rgba(31, 34, 38, 0.08);
    border-radius: 4px;
    width: 160px;
    padding: 8px 0px;

    &.visible {
      display: block;
    }

    .menu-item {
      display: flex;
      padding: 8px 16px;
      align-items: center;
      cursor: pointer;

      &:hover {
        background: #f7f9fd;
      }

      &.selected {
        border-left: solid 2px #0085e0;
        background: #ebf5fa;

        .item-color {
          border: 2px solid #ffffff;
          margin-left: -4px;
        }
      }

      .item-color {
        width: 12px;
        height: 12px;
        border-radius: 8px;
        margin-right: 8px;
        pointer-events: none;
      }

      .value-name {
        pointer-events: none;
      }
    }
  }
}
</style>
