<template>
  <div id="app">
    <status-picker :values="statuses" :selected-value="selectedStatus" />
  </div>
</template>

<script>
import StatusPicker from './components/StatusPicker.vue';
import statuses from './../data';

export default {
  name: 'App',
  components: {
    StatusPicker
  },
  computed: {
    selectedStatus() {
      return this.$store.state.selectedStatus;
    }
  },
  data() {
    return {
      statuses: statuses,
    };
  },
  mounted() {
    this.$store.dispatch('setSelectedStatus', statuses[0]);
  }
};
</script>

<style>
@import '~@/less/style.less';
</style>
